# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/client/build
/client/.firebase
client/build/asset-manifest.json
client/build/env.js
client/build/index.html
client/build/static/css/main.b410f703.chunk.css
client/build/static/css/main.b410f703.chunk.css.map
client/build/static/js/2.95dc7e14.chunk.js
client/build/static/js/2.95dc7e14.chunk.js.LICENSE.txt
client/build/static/js/2.95dc7e14.chunk.js.map
client/build/static/js/main.5bb2f0cb.chunk.js
client/build/static/js/main.5bb2f0cb.chunk.js.map
client/.firebase/hosting.YnVpbGQ.cache
client/build/asset-manifest.json
client/build/env.js
client/build/index.html
client/build/static/css/main.b410f703.chunk.css
client/build/static/css/main.b410f703.chunk.css.map
client/build/static/js/2.95dc7e14.chunk.js
client/build/static/js/2.95dc7e14.chunk.js.LICENSE.txt
client/build/static/js/2.95dc7e14.chunk.js.map
client/build/static/js/main.5bb2f0cb.chunk.js
client/build/static/js/main.5bb2f0cb.chunk.js.map
client/.firebase/hosting.YnVpbGQ.cache
